footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        color: $font-color;
        font-weight: 300;
        font-size: .8rem;
        

        span {
            font-weight: 400;
            color: $input-focus;
        }
    }
}