//Cores

$primary-color: #0E0B16;
$secundary-color: #A239CA;
$secundary-color-transparent: #a139ca2c;
$font-color: #E7DFDD;
$input-color: #F7E8EA;
$input-focus: #fff;
$background-main: #DDBDDD;

//Gradients

$background-gradient1: linear-gradient(180deg, $primary-color, $secundary-color-transparent, $primary-color);